//begin aside
aside.aside
	.aside__title.aside-title.js-menu-toggle Категории
	ul.aside__menu.menu.js-menu
		li.menu__item.is-active
			span.menu__link Платья и сарафаны
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item.is-active
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Блузы и рубашки
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Джемперы и кардиганы
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Домашняя одежда
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Нижнее белье
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Юбки
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Пальто и полупальто
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Топы и майки
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Юбки и шорты
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Брюки и джинсы
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
		li.menu__item
			span.menu__link Джемперы и кардиганы
				i.menu__icon.icon.icon-menu-arrow
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Вечерние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Летние платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Офисные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Повседневные платья
				li.menu__submenu-item
					a.menu__submenu-link(href='#') Сарафаны
	.aside__mail
		.aside__mail-icon
			+i('mail')
		.aside__mail-title Подпишитесь на рассылку и получите каталог наших товаров на почту
	form.aside__subscribe.subscribe(action='#')
		.subscribe__field
			input.subscribe__input(type='text' placeholder='имя')
		.subscribe__field
			input.subscribe__input(type='text' placeholder='e-mail')
		.subscribe__field
			button.subscribe__submit(type='submit') Подписаться
//end aside