footer.footer
	.footer__top
		.footer__top-container.container
			.footer__col
				.footer__title Каталог
				nav.footer__nav
					a.footer__nav-link(href='#') Для мужчин  
					a.footer__nav-link(href='#') Для женщин
					a.footer__nav-link(href='#') Для детей
					a.footer__nav-link(href='#') Акции
					a.footer__nav-link(href='#') Новинки
					a.footer__nav-link(href='#') Хиты продаж
			.footer__col
				.footer__title О компании
				nav.footer__nav
					a.footer__nav-link(href='#') О компании
					a.footer__nav-link(href='#') Оплата и доставка
					a.footer__nav-link(href='#') Как заказать
					a.footer__nav-link(href='#') Вопросы и ответы
					a.footer__nav-link(href='#') Отзывы
			.footer__col
				.footer__title О компании
				.footer__socials.socials
					a.socials__link(href='#')
						+i('soc-vk')
					a.socials__link(href='#')
						+i('soc-fb')
					a.socials__link(href='#')
						+i('soc-tw')
			.footer__col
				.footer__title Способы оплаты
				img(src='img/content/visa.png' alt='Visa')
				.footer__text-payment Вы можете оплатить покупки наличными при получении, либо выбрать другой способ оплаты.
			.footer__col
				.footer__title Время работы: пн-пт с 9 до 18
				.footer__phone 8 800 111-22-33
				a.footer__recall(href='#') обратный звонок
	.footer__bot
		.container
			a.footer__logo(href='index.html')
				img.footer__logo-img(src='img/logo-footer.png' alt='Kyrgyz Poshiv')
			.footer__copy &copy; ООО "Kyrgyz-poshiv", 2016
			.footer__right
				.footer__right-text Создано руками
				a.footer__right-link(href='#') Akticom
