extend includes/_layout
block title
	title Каталог
block content
	.container
		ul(style='padding-left: 30px; list-style: decimal; font-size: 20px;')
			li
				a(href='main.html') Главная
			li
				a(href='card.html') Карточка
